.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}
.auth-menu {
  display: flex;
  column-gap: 10px;
}

.auth-menu a {
  text-decoration: none;
}
